@media (min-width: 768px){
	body
	{	
		font-size: 12px;
	}
	.container{
		width: 750px;
	}
}
@media (min-width: 992px){
	body
	{	
		font-size: 14px;
	}
	.container{
		width: 970px;
	}
}
@media (min-width: 1200px){
	.container{
		width: 1170px;
	}
}

.container{
	padding-right:15px;
	padding-left:15px;
	margin-right:auto;
	margin-left:auto;
}

a{
	text-decoration: none;
	color:#fff;
}

body
{
	background: #000000;
	font-size: 16px;
	font-family: 'Titillium Web', sans-serif;
}

h1{
	font-size: 3.5rem;
	font-weight: bold;
	color:#ffffff;
	margin:0;
}

header{
	height:100px;
	width: 100%;
	background:rgba(0,0,0,0.85);
	position: fixed !important;
	top:0;
	right:0;
	z-index: 1000;
}

.mobile{
	margin-top:20px;
}

.mobile ul{
	list-style: none;
	margin:0;
	padding: 0;
}

.mobile ul li{
	display: inline-block;
	padding-left: 10px;
	padding-right:10px;
}

.mobile img{
	height:3rem;
}

.slider img{
	width:720px;
	border:2px solid #0080BD;
}

.slider ul{
	padding:0!important;
}


header ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

header #menu li{
	display: inline-block;
	padding-left:4px;
	padding-right:4px;
	padding-top:35px;
	padding-bottom:35px;
	width: 100px;
	text-align: center;
}

header #social li{
	display: inline-block;
	padding-left:4px;
	padding-right:4px;
	padding-top:35px;
	padding-bottom:35px;
	text-align: center;
}

header #logo img{
	height:90px;
}

footer{
	background: url('../img/bg4x.png') repeat;
	display: block;
	padding-top:40px;
	height:100px;
	color:#fff;
	font-size: 1rem;
	text-align: center;
}



#logo{
	display: inline-block;
	float:left;
}

#menu{
	display: inline-block;
	font-size:1rem;
	color:#ffffff;
	float:left;
	padding:0;
}

#menu li:hover{
	background-color: #181818;
}

#social{
	display: inline-block;
	font-size: 1rem;
	color:#fff;
	float:right;
}

#banner{
	background: url('../img/bg.png') repeat;
	width: 100%;
	padding:20px;
	position: relative;
}



#banner img{
	width: 100%;
	display: block;
}

#facebook{
	background: url('../img/icons/fboff.png') no-repeat;
	background-size: 100% auto;
	display: block;
	width:30px;
	height:30px;
}

#facebook:hover{
	background: url('../img/icons/fbon.png') no-repeat;
	background-size: 100% auto;
	display: block;
	width:30px;
	height:30px;
}


#twitter{
	background: url('../img/icons/twoff.png') no-repeat;
	background-size: 100% auto;
	display: block;
	width:30px;
	height:30px;
}

#twitter:hover{
	background: url('../img/icons/twon.png') no-repeat;
	background-size: 100% auto;
	display: block;
	width:30px;
	height:30px;
}


#youtube{
	background: url('../img/icons/ytoff.png') no-repeat;
	background-size: 100% auto;
	display: block;
	width:30px;
	height:30px;
}

#youtube:hover{
	background: url('../img/icons/yton.png') no-repeat;
	background-size: 100% auto;
	display: block;
	width:30px;
	height:30px;
}


#vimeo{
	background: url('../img/icons/vioff.png') no-repeat;
	background-size: 100% auto;
	display: block;
	width:30px;
	height:30px;
}

#vimeo:hover{
	background: url('../img/icons/vion.png') no-repeat;
	background-size: 100% auto;
	display: block;
	width:30px;
	height:30px;
}

#landing{
	width:100%;
	background-color:white;
	position: relative;
	overflow: hidden;
	display: table;
}

.cover{
	background: url('../img/bg6.png') repeat;
}

.strategaLand{
	background: url('../img/cover.png') no-repeat;
	background-size:100% 100%;
}

#content{
	background: url('../img/bg.png') repeat;
	width:100%;
	background-color:#850000;
	display: block;
	color:rgba(255,255,255,0.9);
	text-align: center;
	padding-top:100px;
	padding-bottom:100px;
}

#partners{
	width:100%;
	display: block;
	text-align: center;
	padding-top:50px;
	padding-bottom:50px;
	background-color: #fff;
	color:#000;
}

#partners h1{
	color:#000;
	font-size: 3rem;
}

.welcome{
	color:#fff;
	position:absolute;
	top:50%;
	left:50%;
	width:800px;
	margin-left: -400px;
	margin-top:-25px;
	text-align: center;
	
}

.game{
	color:#fff;
	position:absolute;
	top:50%;
	left:50%;
	width:800px;
	margin-left: -400px;
	margin-top:-300px;
	text-align: center;
	
}

.getit{
	font-size: 1rem;
	font-weight: bold;
	position:absolute;
	display: block;
	width:300px;
	left:0;
	right:0;
	margin:0 auto;
	text-align: center;
	bottom:2rem;
	color:rgba(255,255,255,0.5);
}

.big{
	font-size: 3.5rem;
	font-weight: bold;
}

.tiny{
	font-size: 2rem;
	color:#cccccc;
}

#powerup img{
	width:17rem;
	margin-bottom: 25px;
}

#armorgames img{
	width:22rem;
}